---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import TeamCard from "@/components/team/TeamCard.astro";
// Content
import { getCollection } from "astro:content";
const allAuthors = await getCollection("team");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24 lg:py-32">
      <div class="max-w-3xl mx-auto text-center">
        <Text
          tag="span"
          variant="textSM"
          class="pl-4 font-medium uppercase border-l text-base-900 font-display border-accent-500"
        >
          Our Team
        </Text>
        <Text
          tag="h1"
          variant="displayXL"
          class="mt-8 uppercase font-display text-base-900"
        >
          Meet the Experts
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-600 text-balance"
        >
          The dedicated professionals behind Copperlane's exceptional service.
          We combine decades of experience with a passion for automotive
          excellence.
        </Text>
      </div>
    
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mt-12">
        {
          // Sorting authors alphabetically inline
          allAuthors
            .sort((a, b) => {
              const nameA = a.data.name.toLowerCase();
              const nameB = b.data.name.toLowerCase();
              return nameA < nameB ? -1 : nameA > nameB ? 1 : 0;
            })
            .map((post) => <TeamCard post={post} />)
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
