---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import CustomerCard from "@/components/customers/CustomerCard.astro";
// Content
import { getCollection } from "astro:content";
const allCustomers = await getCollection("customers");
allCustomers.sort((a, b) => a.data.name.localeCompare(b.data.name));
---
<section>
  <Wrapper variant="standard" class="py-24 lg:py-32">
    <div class="max-w-3xl mx-auto text-center">
      <Text
        tag="span"
        variant="textSM"
        class="pl-4 font-medium uppercase border-l text-base-900 font-display border-accent-500"
      >
        Customer Stories
      </Text>
      <Text
        tag="h1"
        variant="displayXL"
        class="mt-8 uppercase font-display text-base-900"
      >
        Why drivers trust Copperlane
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-600 text-balance">
        Real experiences from owners and fleet managers across California — from
        diagnostics and inspections to detailing and long-term maintenance.
      </Text>
    </div>
    <div class="space-y-8 mt-12">
      {
        allCustomers
          .slice(0, 1)
          .map((customer) => <CustomerCard customer={customer} />)
      }
    </div>
    <Button
      isLink
      href="/customers"
      variant="default"
      size="base"
      class="mx-auto mt-12 w-fit"
    >
      Customer stories
    </Button>
  </Wrapper>
</section>
