@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar-hide";
@theme {
  /* Typography */
  --font-display: "Stack Sans Notch", serif;
  --font-sans: "Inter", sans-serif;

  /* Accent */
  --color-accent-50: oklch(0.98 0.053 103.86);
  --color-accent-100: oklch(0.961 0.121 104.91);
  --color-accent-200: oklch(0.925 0.172 106.44);
  --color-accent-300: oklch(0.892 0.166 106.69);
  --color-accent-400: oklch(0.857 0.159 106.15);
  --color-accent-500: oklch(0.821 0.152 106.39);
  --color-accent-600: oklch(0.687 0.128 106.72);
  --color-accent-700: oklch(0.55 0.102 106.58);
  --color-accent-800: oklch(0.411 0.076 106.32);
  --color-accent-900: oklch(0.275 0.051 105.99);
  --color-accent-950: oklch(0.205 0.037 104.42);
  /* Base */
 --color-base-50: oklch(0.985 0.002 247.839);
  --color-base-100: oklch(0.967 0.003 264.542);
  --color-base-200: oklch(0.928 0.006 264.531);
  --color-base-300: oklch(0.872 0.01 258.338);
  --color-base-400: oklch(0.707 0.022 261.325);
  --color-base-500: oklch(0.551 0.027 264.364);
  --color-base-600: oklch(0.446 0.03 256.802);
  --color-base-700: oklch(0.373 0.034 259.733);
  --color-base-800: oklch(0.278 0.033 256.848); /* Default */
  --color-base-900: oklch(0.21 0.034 264.665);
  --color-base-950: oklch(0.13 0.028 261.692);

  /* Shadows */
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0px 6.6px 4.7px 0px rgba(26, 43, 59, 0.07),
    0px 16.7px 11.8px 0px rgba(26, 43, 59, 0.1),
    0px 34px 24.1px 0px rgba(26, 43, 59, 0.13),
    0px 70px 49.6px 0px rgba(26, 43, 59, 0.16),
    0px 192px 136px 0px rgba(26, 43, 59, 0.23);
 
}
