---
// Functions
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="bg-white">
  <Wrapper variant="standard" class="py-24 lg:py-48">
    <div class="max-w-4xl mx-auto text-center">
      <Text
        tag="span"
        variant="textSM"
        class="pl-4 font-medium text-base-900 uppercase border-l font-display border-accent-500"
      >
        Community & Responsibility
      </Text>
      <Text
        tag="h2"
        variant="displayMD"
        class="mt-8 text-base-900 uppercase font-display"
      >
        We are proud to be a locally owned business in Copperlane. We believe in
        supporting our neighbors, minimizing our environmental impact through
        responsible waste disposal, and training the next generation of
        automotive technicians.
      </Text>
    </div>
  </Wrapper>
</section>
