---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogBigCard from "@/components/blog/BlogBigCard.astro";
// Content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout>
  <section class="bg-gradient-to-t from-base-200 to-white">
    <Wrapper variant="standard" class="lg:pt-32 pt-24 pb-12">
      <div class="max-w-3xl mx-auto text-center text-balance">
        <Text
          tag="span"
          variant="textSM"
          class="pl-4 font-medium uppercase border-l text-base-900 font-display border-accent-500"
        >
          tags
        </Text>
        <Text
          tag="h1"
          variant="displayXL"
          class="mt-8 uppercase font-display text-base-900"
        >
          blog posts tagged with
          {tag}</Text
        >
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-12">
      <div class="flex flex-col gap-8">
        {
          posts.map((post, index) => (
            <BlogBigCard post={post} index={index + 1} />
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
