---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Plus from "@/components/fundations/icons/Plus.astro";
// Components
import MegaMenu from "@/components/global/MegaMenu.astro";
import MobileMenu from "@/components/global/MobileMenu.astro";
// Icons
import Close from "@/components/fundations/icons/Close.astro";
import Burger from "@/components/fundations/icons/Burger.astro";
const quickLinks = [
  { href: "/services", label: "Services" },
  { href: "/packages", label: "Packages" },
  { href: "/customers", label: "Customers" },
  { href: "/about", label: "About" },
  { href: "/faq", label: "FAQ" },
  { href: "/system/overview", label: "Overview" },
];
// Sets link color based on current path
const currentPath = Astro.url.pathname;
---

<header class="fixed top-0 z-50 w-full">
  <Wrapper variant="standard" class="py-2">
    <nav
      class="flex items-center justify-between p-4 shadow-xl bg-base-900/60 outline-4 outline-base-500/5 backdrop-blur-xl rounded-xl"
    >
      <a href="/">
        <Logo class="text-lg font-medium text-white uppercase font-display" />
      </a>
      <div class="items-center hidden lg:flex gap-8">
        <button
          id="megamenu-trigger"
          type="button"
          class="text-sm flex items-center gap-2 focus:outline-none font-medium text-white group transition-colors duration-200 hover:text-white group"
          aria-expanded="false"
        >
          Explore
          <Plus
            slot="icon"
            size="sm"
            class="group-focus:rotate-45 duration-300"
          />
        </button>
        {
          quickLinks.map((link) => (
            <a
              href={link.href}
              class:list={[
                "text-sm font-medium transition-colors duration-200",
                currentPath.startsWith(link.href)
                  ? "text-accent-400"
                  : "text-white hover:text-white",
              ]}
            >
              {link.label}
            </a>
          ))
        }
      </div>
      <div class="flex items-center gap-2">
        <Button
          isLink
          size="xs"
          variant="accent"
          href="https://lexingtonthemes.com/templates/copperlane"
        >
          Buy Copperlane
        </Button>
        <Button
          iconOnly
          size="sm"
          variant="default"
          id="mobile-menu-button"
          type="button"
          class="lg:hidden"
          aria-label="Toggle menu"
          aria-expanded="false"
        >
          <Burger slot="icon" id="menu-icon-open" size="sm" />
          <Close slot="icon" id="menu-icon-close" size="sm" class="hidden" />
        </Button>
      </div>
    </nav>
  </Wrapper>
  <MegaMenu />
  <MobileMenu />
</header>
